@model IEnumerable<WebBanHang.Models.EF.News>
<style>
    .blog-img img {
        height: 220px; /* hoặc chiều cao bạn muốn */
        object-fit: cover;
        width: 100%;
    }

    .text-truncate-description {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        min-height: 72px;
    }

    .blog-content {
        height: 350px; /* hoặc điều chỉnh cho phù hợp */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
</style>


@if (Model != null && Model.Any())
{
    <div class="container-fluid blog py-5">
        <div class="container py-5">
            <div class="text-center mx-auto pb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 800px;">
                <h1 class="display-5 text-capitalize mb-3">Tin Tức<span class="text-primary"> & Blog</span></h1>
                <p class="mb-0">
                    Cập nhật những thông tin mới nhất về thế giới đồng hồ cao cấp và các sự kiện đặc biệt.
                </p>
            </div>
            <div class="row g-4">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="blog-item">
                            <div class="blog-img">
                                <img src="@item.Image" class="img-fluid rounded-top w-100" alt="@item.Title">
                            </div>
                            <div class="blog-content rounded-bottom p-4">
                                <div class="blog-date">
                                    @(item.CreatedDate.HasValue ? item.CreatedDate.Value.ToString("dd MMM yyyy") : "")
                                </div>
                                <div class="blog-comment my-3">
                                    <div class="small">
                                        <span class="fa fa-user text-primary"></span>
                                        <span class="ms-2">@item.CreatedBy</span>
                                    </div>
                                    @*<div class="small">
                                            <span class="fa fa-comment-alt text-primary"></span>
                                            <span class="ms-2">@item.ViewCount Bình Luận</span>
                                        </div>*@
                                </div>
                                <a href="/bai-viet/@item.Alias-n@(item.Id)" class="h4 d-block mb-3">@item.Title</a>
                                <p class="mb-3 text-truncate-description">@item.Description</p>
                                <a href="/bai-viet/@item.Alias-n@(item.Id)" class="">Đọc Thêm <i class="fa fa-arrow-right"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}

